@page
@model _2280600926_DoThanhHiep.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<div class="container">
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Xác nhận đăng xuất</h5>
                    <p class="card-text">Bạn có chắc chắn muốn đăng xuất?</p>
                    <form method="post">
                        <button type="submit" class="btn btn-primary">Đăng xuất</button>
                        <a asp-area="" asp-page="/Index" class="btn btn-secondary">Hủy</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}